doctype html
head
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title #{tripName} | AirSplit
  meta(property='og:title' content='#{tripName} | AirSplit')
  meta(property='og:image' content='./images/airsplit-logo.png')
.container
  h1 Trip: #{tripName}
br
.container
  table.table
    thead.thead-dark
      tr
        th(scope='col') #
        th(scope='col') Item
        th(scope='col') Currency
        th(scope='col') Amount
    tbody
      each transaction, index in transactions
        tr
          th(scope='row') #{index+1}
          td #{transaction.title[0] || 'N/A'}
          td #{transaction.currency}
          td #{transaction.amount}